<div class="left-side-menu">
  <div class="h-100 menuitem-active" data-simplebar="init">
    <div class="simplebar-wrapper" style="margin: 0px;">
      <div class="simplebar-height-auto-observer-wrapper">
        <div class="simplebar-height-auto-observer"></div>
      </div>
      <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
          <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
            <div class="simplebar-content" style="padding: 0px;">
              <div id="sidebar-menu" class="show">

                <ul id="side-menu">
                  <li>
                    <a routerLink="">App</a>
                  </li>
                  <li>
                    <a routerLink="editable">Editable</a>
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="simplebar-placeholder" style="width: auto; height: 1366px;"></div>
    </div>
  </div>
  <!-- Sidebar -left -->
</div>
<div class="content-page">
  <router-outlet></router-outlet>
</div>
