<div id="login-page" class="account-pages">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-body p-4">
            <div class="text-center w-75 m-auto">
              <p class="text-muted mb-4 mt-3">To continue, log in to spotify and give permission to this application to access your data.
            </div>
              <div class="text-center d-grid">
                <a href="{{loginUrl}}" class="btn btn-primary" type="submit"> Log In</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

