$pink:       #fc62f4;
$red:        #fa2750;
$orange:     #fd7e14;
$blue:       #2aacf9;

#login-page {
  width: 100%;
  height:100%;
  background: linear-gradient(-45deg, $pink, $red, $orange, $blue);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  .container {
    padding-top: 25%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
